<section class="form-section">
    <div class="text">
        <h3>
            Fique por dentro de tendências
        </h3>
        <p>
            Desbloqueie seu Potencial Dev: Uma Consultoria sob Medida para Desenvolvedores
            Cansado de se sentir estagnado na sua carreira de desenvolvedor? Quer alcançar novos patamares e se destacar no mercado?
             A Consultoria para Desenvolvedores da Stranner Consultoria é a chave para impulsionar sua jornada profissional!</p>
    </div>
    <form [formGroup]="newsletterForm">
        <label for="name" aria-label="Nome completo">Nome</label>
        <input id="name" formControlName="name" title="Digite seu nome completo aqui" />
        <label for="email" aria-label="Endereço de email">Email</label>
        <input id="email" formControlName="email" title="Digite seu email aqui" />
        
        <btn-primary 
            btn-text="se inscreva" 
            variant="secondary"
            (submit)="onSubmit()"
            [disabled]="!newsletterForm.valid"
            [loading]="loading()"
        >
        </btn-primary>
    </form>
</section>