<app-header></app-header>
<main>
    <section class="main-section">
        <div class="headline">
            <span>Consultoria Stranner </span>
            <h1>A Consultoria que você busca para o seu software</h1>
        </div> 
        <img ngSrc="/assets/principal.png" width="660" height="530">
    </section>
    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
                95% das<br/>
                empresas
            </h2>
        </div>
        <p>não sabem como lidar com problemas de <b>escalibilidade</b> e grande volume de requisições.</p>
    </section>
    <section class="cta-section">
        <btn-primary btn-text="fale com nossos especialistas"></btn-primary>
    </section>
</main>