<section class="form-section">
    <div class="text">
        <h3>
            Fique por dentro de tendências
        </h3>
        <p>Somos uma empresa com total foco em seu negócio , nosso moto é o seu sucesso , 
            façã já a sua parceria com a nossa Consultoria e participe de eventos exclusivos para ficar 1 degrau
            a grente da concorrencia</p>
    </div>
    <form [formGroup]="newsletterForm">
        <label for="name">Name</label>
        <input id="name" formControlName="name"/>
        <label for="email">Email</label>
        <input id="email" formControlName="email"/>
        <btn-primary 
            btn-text="se inscreva" 
            variant="secondary"
            (submit)="onSubmit()"
            [disabled]="!newsletterForm.valid"
            [loading]="loading()"
        >
        </btn-primary>
    </form>
</section>